In [35]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:root@localhost:5432/ny_taxi")
connection = engine.connect()

In [36]:
connection

In [37]:
query="""SELECT * FROM pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' and schemaname != 'information_schema'; """

In [38]:
pd.read_sql(query, con = connection)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,ny_taxi,postgres,None,False,False,False,False

In [39]:
df= pd.read_csv(r'C:\Users\Lenovo\Desktop\Venka Projects\data_engineering_projects\Data\yellow_tripdata_2021-01\yellow_tripdata_2021-01.csv',nrows=100)

In [40]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [41]:
df.to_sql(name="yellow_tripdata",con=connection, index= False)

In [44]:
query = """SELECT * FROM yellow_tripdata limit 1;"""

In [45]:
pd.read_sql(query, con=connection)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.1,1,N,142,43,2,8.0,3.0,0.5,0.0,0.0,0.3,11.8,2.5